<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Way of the Server</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="way-sticky-header"></div>
        <div class="way-static-header"></div>
    <main class="way-main">
        <p>Your Content Here</p>
  </main>
		<footer class="way-footer"></footer>
    <script src="/js/main.js" type="module"></script>
    </body>
</html>