<p class="tutorial__p">The motto for this tutorial: "let you go down the rabbit holes, but spare you from getting stuck down there." As a stretch goal, I would like to expand the tutorial to include how to go from a self-hosted to a cloud-hosted back-end.</p>
      <h2 class="tutorial__h2"><a class="tutorial__h2__a" href="#">Purpose</a></h2>
      <img class="tutorial__img" src="/images/screenshotExample1.png">
      <p class="tutorial__p">I've taken copious notes in the process of learning how to build a static site, and I want to leverage that experience to show others how to do it. Additionally, I've got lots of notes on how to self-host my own Apache/MySQL/PHP project, and succeeded in getting it running. I want to leverage both of these experiences by using them to create the back-end for a static site.</p>
      <h2 class="tutorial__h2" id="audience"><a class="tutorial__h2__a" href="#audience">Audience</a></h2>
      <p class="tutorial__p">The target audience are web development students and enthusiasts. I predict that most of them will likely be either undergrads looking to see how they can make their own side projects, or experienced developers from other backgrounds looking into how to create web apps.</p>
      <h2 class="tutorial__h2" id="code-example"><a class="tutorial__h2__a" href="#code-example">Code Example</a></h2>
<pre class="tutorial__pre">.tutorial__h2__a {
    color: var(--water-blue);
    padding-left: var(--s-1);
    padding-right: var(--s-1);
    text-decoration: none;
}</pre><!--<p class="tutorial__p">This site was created as a tutorial to help people learn how to host their static sites, and self-host their own back-end APIs that they make to power them.</p>
    <img class="tutorial__img" src="/images/basicLogo.png">
    <p class="tutorial__p">Code and assets for this site are open-source. See the <a class="tutorial__p__a" href="https://github.com/emoryhubbard/way-of-the-server">GitHub Repo</a>. By the time you finish the tutorial, you will have built a static site similar to it.</p>
    <p class="tutorial__p">The two hardest programming challenges I ever faced, were (1) setting up a local PHP development environment, and (2) actually deploying live sites. This web app will be a tutorial site that covers how to do this. I'm going to cover (1) JUST enough so that the reader can be prepared for (2).</p>
    <p class="tutorial__p">The goal is to deploy a static web app with a self-hosted back-end, and document my progress. It will include a comment system, database, and user authentication. The final product will be tutorial that users can comment on, and add their own perspectives and advice on this difficult process.</p>
    <h2 class="tutorial__h2"><a class="tutorial__h2__a" href="#">Purpose</a></h2>
    <p class="tutorial__p">The motto for this tutorial: "let you go down the rabbit holes, but spare you from getting stuck down there." As a stretch goal, I would like to expand the tutorial to include how to go from a self-hosted to a cloud-hosted back-end.</p>
    <img class="tutorial__img" src="/images/screenshotExample1.png">
    <p class="tutorial__p">I've taken copious notes in the process of learning how to build a static site, and I want to leverage that experience to show others how to do it. Additionally, I've got lots of notes on how to self-host my own Apache/MySQL/PHP project, and succeeded in getting it running. I want to leverage both of these experiences by using them to create the back-end for a static site.</p>
    <h2 class="tutorial__h2" id="audience"><a class="tutorial__h2__a" href="#audience">Audience</a></h2>
    <p class="tutorial__p">The target audience are web development students and enthusiasts. I predict that most of them will likely be either undergrads looking to see how they can make their own side projects, or experienced developers from other backgrounds looking into how to create web apps.</p>
    <h2 class="tutorial__h2" id="code-example"><a class="tutorial__h2__a" href="#code-example">Code Example</a></h2>
<pre class="tutorial__pre">.tutorial__h2__a {
  color: var(--water-blue);
  padding-left: var(--s-1);
  padding-right: var(--s-1);
  text-decoration: none;
}</pre>-->