<ul class="way-sticky-header__site-nav">
    <a href="/index.html" class="way-logo way-sticky-header__site-nav__way-logo"></a><a href="/index.html" class="way-sticky-header__site-nav__item">Home</a>
    <a href="/the-way.html" class="way-sticky-header__site-nav__item">The Way</a><a href="/about.html" class="way-sticky-header__site-nav__item">About</a>
  </ul>
  <ul class="way-sticky-header__github-nav">
    <a href="https://github.com/emoryhubbard" class="way-sticky-header__github-nav__item">More Repos</a>
    <a class="way-sticky-header__github-nav__has-img" href="https://github.com/emoryhubbard/way-of-the-server"><img  class="way-sticky-header__github-nav__img" src="/images/github-mark-white.png" alt="GitHub Logo"></a>
  </ul>
  <div class="menu-icon">
    <div class="top"></div> <!-- ❌ ☰ × ― ─ ━ │ ╱ ╲ --->
    <div class="middle"></div>
    <div class="bottom"></div>
  </div>
  <nav class="slideout">
    <ul class="slideout__list">
      <a href="/index.html" class="slideout__list__item">Home</a>
      <a href="/the-way.html" class="slideout__list__item">The Way</a>
      <a href="/about.html" class="slideout__list__item">About</a>
    </ul>
  </nav>