<a href="#" class="way-footer__way-logo way-logo way-logo_centered"></a>
      <div class="way-footer__links-flexbox">
      <ul class="way-footer__resources-nav">
        <p class="way-footer__resources-nav__title">Resources</p>
        <a class="way-footer__resources-nav__item" href="https://medium.com/codex/run-your-docker-containers-for-free-in-the-cloud-and-for-unlimited-time-361515cb0876">Oracle Tutorial</a>
        <a class="way-footer__resources-nav__item" href="https://ibm.github.io/docker101/lab-1/">IBM Docker</a>
        <a class="way-footer__resources-nav__item" href="https://ammonshepherd.github.io/340br/phpmotors/views/docker-setup.html">PMAMP Setup</a>
        <a class="way-footer__resources-nav__item" href="https://blog.sethcorker.com/traefik-routing-for-web-apps/">Traefik Routing</a>
        <a class="way-footer__resources-nav__item" href="https://medium.com/botfuel/how-to-expose-a-local-development-server-to-the-internet-c31532d741cc">Local-to-Internet</a>
        <a class="way-footer__resources-nav__item" href="https://learnaboutwebsites.com/can-i-create-a-website-without-a-domain-name-tip-dont/">Domain Names</a>
        <a class="way-footer__resources-nav__item" href="https://www.section.io/engineering-education/how-to-share-data-between-a-docker-container-and-the-host-computer/">Docker Containers</a>
        <a class="way-footer__resources-nav__item" href="https://mrgood.blog/posts/2021-02-07-web-self-host/post.html">Self Hosting</a>
      </ul>
      <ul class="way-footer__site-nav">
        <p class="way-footer__site-nav__title">Site Links</p>
        <a class="way-footer__site-nav__item" href="/index.html">Home</a>
        <a class="way-footer__site-nav__item" href="/the-way.html">The Way</a>
        <a class="way-footer__site-nav__item" href="/about.html">About</a>
        <a class="way-footer__site-nav__item" href="https://github.com/emoryhubbard/way-of-the-server">GitHub</a>
      </ul>
    </div>
      <p class="way-footer__copyright">©2023 Emory Hubbard. All Rights Reserved.</p>