<h2 class="way-table-of-contents__title">TABLE OF CONTENTS</h2>
        <a class="way-table-of-contents__item" href="#purpose">Purpose</a>
        <a class="way-table-of-contents__item" href="#prerequisties">Prerequisites</a>
        <a class="way-table-of-contents__item" href="#why-static-sites">Why Static Sites?</a>
        <a class="way-table-of-contents__item" href="#static-site-development-environment">Static Site Dev Environment</a>
        <a class="way-table-of-contents__item" href="#static-site-hosting">Static Site Hosting</a>
        <a class="way-table-of-contents__item" href="#php-development-environment">PHP Dev Environment</a>
        <a class="way-table-of-contents__item" href="#php-self-hosting">PHP Self-Hosting</a>
        <a class="way-table-of-contents__item" href="#whats-next">What's Next?</a>
